In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
clean_elections=pd.read_csv(r"data\clean_elections.csv")
countries= gpd.read_file(r"data\countries.geojson")
destination_ref=pd.read_csv(r"data\destination_refugees.csv")
gdpcapita=pd.read_csv(r"data\gdp_percapita.csv")
gini_index=pd.read_csv(r"data\gini_index.csv")
origin_ref=pd.read_csv(r"data\origin_refugees.csv")
population=pd.read_csv(r"data\population.csv")
unemployment=pd.read_csv(r"data\unemployment.csv")

In [70]:
gdpcapita=pd.read_csv(r"data\gdp_percapita.csv")
gdpcapita

    Country Name, Country Code, "Indicator Name", "Indicator Code", "1960", "1961", "1962", "1963", "1964", "1965", "1966", "1967", "1968", "1969", "1970", "1971", "1972", "1973", "1974", "1975", "1976", "1977", "1978", "1979", "1980", "1981", "1982", "1983", "1984", "1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"
0    Aruba,"ABW","GDP per capita (current US$)","NY...
1    Africa Eastern and Southern,"AFE","GDP per cap...
2    Afghanistan,"AFG","GDP per capita (current US$...
3    Africa Western and Central,"AFW","GDP per capi...
4    Angola,"AGO","GDP per capita (current US$)","N...
..                                                 ...
261  Kosovo,"XKX","GDP per capita (current US$)","N...
262  Yemen, Rep.,"YEM","GDP per capita (current US$...
263  South Africa,"ZAF","GDP per capita (current US...
264  Zambia,"ZMB","GDP per capita (current US$)","N...
265  Zimbabwe,"ZWE","GDP per capita (current US$)",...

[266 rows x 1 columns]

In [94]:
origin_ref=pd.read_csv(r"data\origin_refugees1.csv",sep=",")
origin_ref

ParserError: Error tokenizing data. C error: Expected 66 fields in line 46, saw 67

In [78]:
!conda install openpyxl
population

^C

    Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020",
0    Aruba,"ABW","Population, total","SP.POP.TOTL",...
1    Africa Eastern and Southern,"AFE","Population,...
2    Afghanistan,"AFG","Population, total","SP.POP....
3    Africa Western and Central,"AFW","Population, ...
4    Angola,"AGO","Population, total","SP.POP.TOTL"...
..                                                 ...
261  Kosovo,"XKX","Population, total","SP.POP.TOTL"...
262  Yemen, Rep.,"YEM","Population, total","SP.POP....
263  South Africa,"ZAF","Population, total","SP.POP...
264  Zambia,"ZMB","Population, total","SP.POP.TOTL"...
265  Zimbabwe,"ZWE","Population, total","SP.POP.TOT...

[266 rows x 1 columns]

In [5]:
year='2019'
temp=unemployment[unemployment['Indicator Id']==3296][[year,'Country ISO3']]
temp.rename({'2019':'Unemployment'}, axis=1, inplace=True)
result=pd.merge(countries,temp1,how='left',left_on='ISO_A3',right_on='Country ISO3')
temp=clean_elections[clean_elections['Indicator Id']==41828][['Country ISO3',year]]
temp.rename({'2019':'Clean elections'}, axis=1, inplace=True)
result=pd.merge(result,temp,how='left',left_on='ISO_A3',right_on='Country ISO3')
result

,ADMIN,ISO_A3,geometry,2019_x,Country ISO3_x,Country ISO3_y,2019_y
0,Aruba,ABW,"POLYGON ((-69.99694 12.57758, -69.93639 12.531...",5.1,ABW,NaN,NaN
1,Afghanistan,AFG,"POLYGON ((71.04980 38.40866, 71.05714 38.40903...",NaN,NaN,AFG,0.436665
2,Angola,AGO,"MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -...",NaN,NaN,AGO,0.429435
3,Anguilla,AIA,"MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...",NaN,NaN,NaN,NaN
4,Albania,ALB,"POLYGON ((19.74777 42.57890, 19.74601 42.57993...",11.5,ALB,ALB,0.590648
...,...,...,...,...,...,...,...
250,Samoa,WSM,"MULTIPOLYGON (((-171.57002 -13.93816, -171.564...",NaN,NaN,NaN,NaN
251,Yemen,YEM,"MULTIPOLYGON (((53.30824 12.11839, 53.31027 12...",NaN,NaN,YEM,0.003942
252,South Africa,ZAF,"MULTIPOLYGON (((37.86378 -46.94085, 37.83644 -...",28.7,ZAF,ZAF,0.685381
253,Zambia,ZMB,"POLYGON ((31.11984 -8.61663, 31.14102 -8.60619...",NaN,NaN,ZMB,0.426945
254,Zimbabwe,ZWE,"POLYGON ((30.01065 -15.64623, 30.05024 -15.640...",NaN,NaN,ZWE,0.320775